.*vscode
.*.swp
build/
build*/
build*/
tmp/
__pycache__/
uclog.log
twister-out/
doxygen/docs
.secrets
script_output/

*.drawio*.bkp

.PVS-Studio/
*PVS-Studio.cfg
*PVS-Studio.i

parasoft/reports/
.cpptest/

.sonarlint/compile_commands.json

data/
