
&uart0 {
    compatible = "unitcircle,ucuart";
    current-speed = <1000000>;
    /* pinctrl-0 = <&uart0_default>; */
    /* pinctrl-1 = <&uart0_sleep>; */
    /* pinctrl-names = "default", "sleep"; */
    /* status = "okay"; */
};
